/* Navbar.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 70px;
  padding: 0 50px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.dashboard-wrapper {
  margin-top: 70px; 
}

.nav-logo h2 {
  margin: 0;
  cursor: pointer;
  color: #333;
}

.nav-logo h2 span {
  color: #800000;
}

.nav-links {
  display: flex; /* INI YANG BIKIN KESAMPING */
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #888db5;
}

/* Tambahkan di Navbar.css atau Dashboard.css */
.nav-actions {
  display: flex;
  align-items: center;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 25px; /* Jarak antara keranjang dan logout */
}

.nav-cart-container {
  position: relative;
  cursor: pointer;
  color: #636890; /* Warna ungu biar senada sama Hero */
  transition: transform 0.2s;
}

.nav-cart-container:hover {
  transform: scale(1.1);
  color: #636890;
}

.nav-cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #636890;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  border: 2px solid white;
}

.logout-mini-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f0f0f5;
  border: none;
  padding: 8px 15px;
  border-radius: 12px;
  cursor: pointer;
  color: #7c7e9d;
  font-weight: 600;
  font-size: 0.85rem;
}

.logout-mini-btn:hover {
  background: #7c7e9d;
  color: white;
}
